
:root {
    --font-size: 16px;
    --spacing: 10px;
}

h1 {
    --typography-spacing-vertical: 1rem;
}

article {
    margin: 0;
}

.word-card {
    padding: calc(var(--spacing)/ 2) var(--spacing);
    border-radius: var(--border-radius);
    background: var(--code-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    min-height: 3em;
    cursor: pointer;
}

.word-card:hover {
    background-color: var(--primary-hover);
    color: var(--primary-inverse);
}

button {
    position: sticky;
    bottom: 10px;
}

@media (min-width: 992px) {
    .grid>* {
        height: 5em;
    }

    .words-container {
        margin-bottom: 20px;
    }
}

.flex {
    display: flex;
}

.github {
    margin-top: 10px;
    margin-left: auto;
    color: var(--h1-color);
}

.loading {
    display: none;
}

.loading[x-cloak] {
    width: 100%;
    display: inline-flex;
    font-size: 5em;
    height: 50vh;
    justify-content: center;
    align-items: center;
}